*.bak
config/kitty/themes/matugen.conf
config/swaync/colors/matugen.css
config/swayosd/colors/matugen.css
config/kitty/current-theme.conf
config/rofi/colors/matugen.rasi
config/niri/colors.kdl
config/foot/foot_colors.ini
