window-rule {
    geometry-corner-radius 0
    clip-to-geometry true
}

window-rule {
    match app-id="discord$"
    match app-id="com.github.th_ch.youtube_music"
    match app-id=r#"firefox$"#
    open-maximized true
}

window-rule {
    match app-id=r#"firefox$"# title="^Picture-in-Picture$"
    open-floating true
    open-focused false
    default-floating-position x=32 y=32 relative-to="bottom-right"
    default-column-width { proportion 0.3; }
    default-window-height { proportion 0.3; }
}

/-window-rule {
    match app-id=r#"^org\.keepassxc\.KeePassXC$"#
    match app-id=r#"^org\.gnome\.World\.Secrets$"#
    block-out-from "screen-capture"
}

window-rule {
    match title="Choose Directory"
    match title="All Files"
    open-floating true
    default-floating-position x=0 y=120 relative-to="top"
    default-window-height { proportion 0.5; }
    default-column-width { proportion 0.4; }
}

layer-rule {
    match namespace="awww-daemon"
    place-within-backdrop true
}
